.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: black;
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.button{
    background-color: gray;
    color: White;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  
}

.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid;
}

.student p{
  margin: 0;
}

.welcome{
  font-size: 2.5em;
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login{
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  margin: 0;
}
.category{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: gray;
  margin: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: blueviolet;
}

.items li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color: blac;
  background-color: aquamarine;
  text-align: center;
  list-style: none;
  margin:0
}

.items li:hover{
  color: gray;
  cursor: pointer;
}

.counter-container{
  text-align: center;

}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: blueviolet;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.color-picker-container h1{
  margin:50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25 ease;
}

.color-display p{
  color: black;
  font-size: 2rem;
  text-align: center;

}

.color-picker-container label{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.color-picker-container input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid black;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;

}

.to-do-list h1{
  font-size: 4rem;

}

.to-do-list button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: gray;

}

.add-button:hover{
 background-color: navy;
}

.delete-button{
  background-color: gray;
}

.delete-button:hover{
  background-color: red;
}

.move-button{
  background-color: gray;
}

.move-button:hover{
  background-color: green;
}

.to-do-list input{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: gray;
}

.to-do-list ol{
  padding: 0;
}

.to-do-list li{
  font-size: 2rem;
  padding: 15px;
  font-weight: bold;
  background-color: gray;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.to-do-list text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.clock-container{
backdrop-filter: blur(5px);
width: 100vw;
padding: 10px 0;

}

.clock{
color: navy;
font-size: 6rem;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 3px 3px 5px black;
text-align: center;
}

.box{
  border: 3px solid;
  padding:25px;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: gray;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px navy;
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button{
  background-color: green;

}

.stop-button{
  background-color: red;
}

.reset-button{
  background-color: purple;
}





